.home-bg {
  background-image: url("/images/intro_bg.png");
  width: 100vw;
  height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}
.footer-copyright {
  padding: 5px 0;
  bottom: 0;
  position: absolute;
}
.footer-copyright p {
  margin: 2px 0 0;
  font-size: 0.8em;
}